@model IEnumerable<ASP_ICMS.Models.SOPMaster>

@{
	ViewData["Title"] = "SOP Master";
}

<div class="container">
	<h2 class="text-center">SOP Master</h2>

	<div id="sopMasterTable">
		@await Html.PartialAsync("_SOPMasterIndexPartial", Model)
	</div>
</div>